<div class="relative min-h-[calc(100vh-5rem)]">
  <div class="absolute inset-0 -z-10 -top-20 bg-gray-50"></div>
  <div
    class="grid grid-cols-1 gap-6 md:grid-cols-2 max-w-screen-sm mx-auto py-6 sm:py-32 px-6"
  >
    <a
      routerLink="upload"
      class="flex flex-col items-center gap-4 relative p-6 bg-white rounded-xl shadow-sm hover:shadow-lg transition-all duration-200"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-10 h-10 text-gray-400"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5m-13.5-9L12 3m0 0 4.5 4.5M12 3v13.5"
        />
      </svg>
      <h3 class="text-sm font-semibold">Dateien Hochladen</h3>
    </a>
    <div class="inline-flex items-center justify-center w-full md:hidden">
      <hr class="h-px my-2 bg-gray-200 border-0 w-full" />
      <span
        class="absolute px-3 font-semibold bg-gray-50 -translate-x-1/2 left-1/2"
        >oder</span
      >
    </div>
    <a
      routerLink="download"
      class="flex flex-col items-center gap-4 relative p-6 bg-white rounded-xl shadow-sm hover:shadow-lg transition-all duration-200"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-10 h-10 text-gray-400"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
        />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
        />
      </svg>
      <h3 class="text-sm font-semibold">Dateien Ansehen</h3></a
    >
  </div>
</div>
