<div
  class="outline-2 outline-dashed rounded-md transition-all duration-200 cursor-pointer hover:outline-picton-blue"
  [ngClass]="{
    'outline-prussian-blue': !isDragging(),
    'outline-picton-blue': isDragging()
  }"
  (click)="filesInput.click()"
>
  <div class="flex flex-col items-center justify-center py-12 z-10">
    <svg
      class="w-6 h-6 text-current"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"
      />
    </svg>
    <p class="text-center px-6">
      Ziehen Sie Ihre Dateien hierher oder klicken Sie in diesen Bereich
    </p>
  </div>
  <input
    type="file"
    name="files"
    id="files"
    class="hidden"
    #filesInput
    multiple
    [accept]="getMimeTypes()"
  />
</div>
