<div
  class="flex flex-col items-center gap-4 relative p-6 bg-white rounded-xl shadow-sm"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="w-14 h-14 text-picton-blue"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
    />
  </svg>
  <p class="text-prussian-blue text-center">
    Herzlichen Glückwunsch! Deine Dateien wurden erfolgreich und sicher nach
    Azure übertragen
  </p>
  <button
    type="button"
    class="transition duration-200 rounded-md bg-prussian-blue px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-picton-blue focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-prussian-blue"
  >
    Dateien hochladen
  </button>
</div>
